@model Borrowing;

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add new book</h4>
      <p class="card-description">please enter all form</p>
      <form class="forms-sample" method="post" asp-action="edit">
         <div class="form-group">
          <label> Id</label>
          <input
            class="form-control"
            name="id"
            value="@Model.id"
            readonly
          />
        </div>
        <div class="form-group">
          <label>Book Id</label>
          <input
            class="form-control"
            name="bookId"
            value="@Model.book.id"
            readonly
          />
        </div>
        <div class="form-group">
          <label >userId</label>
          <input
            class="form-control"
            name="userId"
            value="@Model.user.id"
            readonly
          />
        </div>
        <div class="form-group">
          <label asp-for="@Model.brrowingDate"></label>
          <input
            class="form-control"
            asp-for="@Model.brrowingDate"
          />
        </div>
         <div class="form-group">
          <label asp-for="@Model.dueTime"></label>
          <input
            class="form-control"
            asp-for="@Model.dueTime"
          />
        </div>
        <div class="form-group">
          <label asp-for="@Model.returnDate"></label>
          <input
            class="form-control"
            asp-for="@Model.returnDate"
          />
        </div>
       
        <div class="form-group">
          <label asp-for="@Model.fineAmount"></label>
          <input
            class="form-control"
            asp-for="@Model.fineAmount"
          />
        </div>
       
       
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
