@model Book;
@{
    var categories = ViewBag.categories as List<Category>;
}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Cập Nhật</h4>
      
      <form class="forms-sample" method="post" asp-action="edit">
         <div class="form-group">
          <label asp-for="@Model.id"></label>
          <input
            class="form-control"
            asp-for="@Model.id"
            readonly
          />
        </div>
        <div class="form-group">
          <label asp-for="@Model.title"></label>
          <input
            class="form-control"
            asp-for="@Model.title"
          />
        </div>
        <div class="form-group">
          <label asp-for="@Model.author">Tác Giả</label>
          <input
            class="form-control"
            asp-for="@Model.author"
          />
        </div>
          <div class="form-group">
            <label asp-for="@Model.image">Link Ảnh</label>
          <input
            class="form-control"
            asp-for="@Model.image"
          />
        </div>
        <div class="form-group">
          <label asp-for="@Model.publicYear">Năm Xuất Bản</label>
          <input
            class="form-control"
            asp-for="@Model.publicYear"
          />
        </div>
         <div class="form-group">
          <label asp-for="@Model.publisher">Nhà Xuất Bản</label>
          <input
            class="form-control"
            asp-for="@Model.publisher"
          />
        </div>
          <div class="form-group">
          <label asp-for="@Model.quantity">Số Lượng</label>
          <input
            class="form-control"
            asp-for="@Model.quantity"
          />
        </div>
       
        <div class="form-group">
          <label for="exampleSelectGender">Thể Loại</label>
          <select class="form-control" name="category" id="exampleSelectGender">
         @if(categories != null){
             @foreach (var item in categories)
            {
                <option value="@item.id">@item.name</option>
            }
         }
          </select>
        </div>
          <div class="form-group">
          <label for="exampleSelectGender">Tinh Trạng: </label>
          <select class="form-control" name="status" id="exampleSelectGender">
                <option value="Bình Thường">Bình Thường</option>
                <option value="Mất">Mất</option>
                <option value="Hư">Hư</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>